<!-- this is code have token from  https://codepen.io/mlegakis/pen/jBYPGr-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
    <head>
        <meta charset="UTF-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/css/dashboard/mainMenuBar/listOfUsers.css">
        <link rel="stylesheet" type="text/css" href="/css/dashboard/mainMenuBar/extraListOfUsers.css">
        <title>List of Users</title>
    </head>

    <body>
    
        <p class="add-user">
            If you want append user in your list table, you should click on here:
            <a class="btn btn-outline-warning" href="/mainMenu/goToAddPage">Add user</a>
        </p>

        <p> </p>

        <hr>

        <h2>List of Users and her all notes</h2>


        <table id="content-table3" class="table-responsive-full sort-table">

            <thead>

            <tr>

                <th class="title">Firstname
                    <div class="sort-table-arrows">
                        <a href="javascript:sort(true, 'title', 'content-table3');">
                            <button class="button" title="Αύξουσα ταξινόμηση"><i class="fa fa-chevron-down"></i></button>
                        </a>
                        <a href="javascript:sort(false, 'title', 'content-table3');">
                            <button class="button" title="Φθίνουσα ταξινόμηση"><i class="fa fa-chevron-up"></i></button>
                        </a>
                    </div>
                </th>

                <th class="composer">Lastname
                    <div class="sort-table-arrows">
                        <a href="javascript:sort(true, 'composer', 'content-table3');">
                            <button class="button" title="Αύξουσα ταξινόμηση"><i class="fa fa-chevron-down"></i></button>
                        </a>
                        <a href="javascript:sort(false, 'composer', 'content-table3');">
                            <button class="button" title="Φθίνουσα ταξινόμηση"><i class="fa fa-chevron-up"></i></button>
                        </a>
                    </div>
                </th>

                <th class="lyrics">Data
                    <div class="sort-table-arrows">
                        <a href="javascript:sort(true, 'lyrics', 'content-table3');">
                            <button class="button" title="Αύξουσα ταξινόμηση"><i class="fa fa-chevron-down"></i></button>
                        </a>
                        <a href="javascript:sort(false, 'lyrics', 'content-table3');">
                            <button class="button" title="Φθίνουσα ταξινόμηση"><i class="fa fa-chevron-up"></i></button>
                        </a>
                    </div>
                </th>

                <th class="set">Address
                    <div class="sort-table-arrows">
                        <a href="javascript:sort(true, 'set', 'content-table3');">
                            <button class="button" title="Αύξουσα ταξινόμηση"><i class="fa fa-chevron-down"></i></button>
                        </a>
                        <a href="javascript:sort(false, 'set', 'content-table3');">
                            <button class="button" title="Φθίνουσα ταξινόμηση"><i class="fa fa-chevron-up"></i></button>
                        </a>
                    </div>
                </th>

                <th class="set">Phone number
                    <div class="sort-table-arrows">
                        <a href="javascript:sort(true, 'set', 'content-table3');">
                            <button class="button" title="Αύξουσα ταξινόμηση"><i class="fa fa-chevron-down"></i></button>
                        </a>
                        <a href="javascript:sort(false, 'set', 'content-table3');">
                            <button class="button" title="Φθίνουσα ταξινόμηση"><i class="fa fa-chevron-up"></i></button>
                        </a>
                    </div>
                </th>

                <th class="arranger">Arranger / Editing</th>
            </tr>

            </thead>


            <tbody>

                <tr th:each="user: ${listofusers}">

                    <td th:text="${user.firstname_list}" data-label="Title" class="title title"></td>
                    <td th:text="${user.lastname_list}" data-label="Composer" class="composer"></td>
                    <td th:text="${user.data_list}" data-label="Lyrics" class="lyrics"></td>
                    <td th:text="${user.address_list}" data-label="Set" class="set"></td>
                    <td th:text="${user.phone_list}" data-label="Arranger"></td>
                    <td data-label="Arranger">
                        <span>
                            <a class="btn btn-outline-danger" th:href="'/mainMenu/deleteIteInListOfUser/' + ${user.id_list}">Delete</a>
                            <a class="btn btn-outline-primary" th:href="'/mainMenu/updateUserNotes/' + ${user.id_list}">Update</a>
<!--                            <a class="btn btn-outline-primary" th:href="@{/mainMenu/updateUserNotes/{ids} (ids = {${user.id_list}})}">Update</a>-->

                        </span>
                    </td>

                </tr>

            </tbody>

        </table>


        <div class="goToHomePage">
            <span>
                <a class="btn btn-outline-info" href="/dashboard/goToDashboardPage">Home page</a>

                <a class="btn btn-outline-success" href="/mainMenu/getNotesFromBase">repeat</a>
                <a class="btn btn-outline-danger" href="/mainMenu/deleteAllItems">refresh</a>
            </span>
        </div>

    </body>
</html>