<!-- this is code have token from  https://codepen.io/mlegakis/pen/jBYPGr-->

<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/css/dashboard/mainMenuBar/listOfUsers.css">
    <title>List of Users</title>
</head>

<body>

<p>Basic on pen by <a href="/mainMenu/goToAddPage">Add user</a></p>
<p> </p>

<hr>

<h2>List of Users and her all notes</h2>


<table id="content-table3" class="table-responsive-full sort-table">

    <thead>

    <tr>

        <th class="title">Firstname
            <div class="sort-table-arrows">
                <a href="javascript:sort(true, 'title', 'content-table3');">
                    <button class="button" title="Αύξουσα ταξινόμηση"><i class="fa fa-chevron-down"></i></button>
                </a>
                <a href="javascript:sort(false, 'title', 'content-table3');">
                    <button class="button" title="Φθίνουσα ταξινόμηση"><i class="fa fa-chevron-up"></i></button>
                </a>
            </div>
        </th>

        <th class="composer">Lastname
            <div class="sort-table-arrows">
                <a href="javascript:sort(true, 'composer', 'content-table3');">
                    <button class="button" title="Αύξουσα ταξινόμηση"><i class="fa fa-chevron-down"></i></button>
                </a>
                <a href="javascript:sort(false, 'composer', 'content-table3');">
                    <button class="button" title="Φθίνουσα ταξινόμηση"><i class="fa fa-chevron-up"></i></button>
                </a>
            </div>
        </th>

        <th class="lyrics">Data
            <div class="sort-table-arrows">
                <a href="javascript:sort(true, 'lyrics', 'content-table3');">
                    <button class="button" title="Αύξουσα ταξινόμηση"><i class="fa fa-chevron-down"></i></button>
                </a>
                <a href="javascript:sort(false, 'lyrics', 'content-table3');">
                    <button class="button" title="Φθίνουσα ταξινόμηση"><i class="fa fa-chevron-up"></i></button>
                </a>
            </div>
        </th>

        <th class="set">Address
            <div class="sort-table-arrows">
                <a href="javascript:sort(true, 'set', 'content-table3');">
                    <button class="button" title="Αύξουσα ταξινόμηση"><i class="fa fa-chevron-down"></i></button>
                </a>
                <a href="javascript:sort(false, 'set', 'content-table3');">
                    <button class="button" title="Φθίνουσα ταξινόμηση"><i class="fa fa-chevron-up"></i></button>
                </a>
            </div>
        </th>

        <th class="set">Phone number
            <div class="sort-table-arrows">
                <a href="javascript:sort(true, 'set', 'content-table3');">
                    <button class="button" title="Αύξουσα ταξινόμηση"><i class="fa fa-chevron-down"></i></button>
                </a>
                <a href="javascript:sort(false, 'set', 'content-table3');">
                    <button class="button" title="Φθίνουσα ταξινόμηση"><i class="fa fa-chevron-up"></i></button>
                </a>
            </div>
        </th>

        <th class="arranger">Arranger / Editing</th>
    </tr>

    </thead>


    <tbody>

        <tr th:each="user: ${listofusers}">

            <td th:text="${user.firstname_list}" data-label="Title" class="title title"></td>
            <td th:text="${user.lastname_list}" data-label="Composer" class="composer"></td>
            <td th:text="${user.data_list}" data-label="Lyrics" class="lyrics"></td>
            <td th:text="${user.address_list}" data-label="Set" class="set"></td>
            <td th:text="${user.phone_list}" data-label="Arranger"></td>
            <td data-label="Arranger">
                <span>
                    <a th:href="'/mainMenu/deleteIteInListOfUser/' + ${user.id_list}">Delete</a>
                </span>
            </td>

        </tr>

    </tbody>

</table>

<div class="goToHomePage">
    <span>
        <a href="/dashboard/goToDashboardPage">Home page</a>

        <a href="/mainMenu/getNotesFromBase">repeat</a>
        <a href="/mainMenu/deleteAllItems">refresh</a>
    </span>
</div>

<!--        <h1>Responsive & Sortable table solutions</h1>-->
<!--        <h2>Simple table - responsive (overflow-y)</h2>-->

<!--        <div class="table-responsive">-->
<!--            <table>-->
<!--                <thead>-->
<!--                <tr>-->
<!--                    <th>Title</th>-->
<!--                    <th>Composer</th>-->
<!--                    <th>Lyrics</th>-->
<!--                    <th>Info</th>-->
<!--                </tr>-->
<!--                </thead>-->
<!--                <tbody>-->
<!--                <tr>-->
<!--                    <td>1ος Παγκόσμιος</td>-->
<!--                    <td>Λοΐζος, Μ.</td>-->
<!--                    <td>Νεγρεπόντης, Μ.</td>-->
<!--                    <td>28 Οκτ., 17 Νοε.</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>2ος Παγκόσμιος</td>-->
<!--                    <td>Λοΐζος, Μ.</td>-->
<!--                    <td>Νεγρεπόντης, Μ.</td>-->
<!--                    <td>28 Οκτ., 17 Νοε.</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>3ος Παγκόσμιος</td>-->
<!--                    <td>Λοΐζος, Μ.</td>-->
<!--                    <td>Νεγρεπόντης, Μ.</td>-->
<!--                    <td>28 Οκτ., 17 Νοε.</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>4ος Παγκόσμιος</td>-->
<!--                    <td>Λοΐζος, Μ.</td>-->
<!--                    <td>Νεγρεπόντης, Μ.</td>-->
<!--                    <td>28 Οκτ., 17 Νοε.</td>-->
<!--                </tr>-->
<!--                <tr>-->
<!--                    <td>5ος Παγκόσμιος</td>-->
<!--                    <td>Λοΐζος, Μ.</td>-->
<!--                    <td>Νεγρεπόντης, Μ.</td>-->
<!--                    <td>28 Οκτ., 17 Νοε.</td>-->
<!--                </tr>-->
<!--                </tbody>-->
<!--            </table>-->
<!--        </div>-->


<!--        <h2>Table - responsive (data-label) full</h2>-->
<!--        <table class="table-responsive-full">-->
<!--            <thead>-->
<!--            <tr>-->
<!--                <th>First Name</th>-->
<!--                <th>Last Name</th>-->
<!--                <th>Hero Title</th>-->
<!--                <th>Name</th>-->
<!--                <th>Last</th>-->
<!--                <th>Hero</th>-->
<!--            </tr>-->
<!--            </thead>-->
<!--            <tbody>-->
<!--            <tr>-->
<!--                <td data-label="First Name">Bruce</td>-->
<!--                <td data-label="Last Name">Wayne</td>-->
<!--                <td data-label="Hero Title">Batman</td>-->
<!--                <td data-label="Name">Bruce</td>-->
<!--                <td data-label="Last">Wayne</td>-->
<!--                <td data-label="Hero">Batman</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td data-label="First Name">Peter</td>-->
<!--                <td data-label="Last Name">Parker</td>-->
<!--                <td data-label="Hero Title">Spiderman</td>-->
<!--                <td data-label="Name">Bruce</td>-->
<!--                <td data-label="Last">Wayne</td>-->
<!--                <td data-label="Hero">Batman</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td data-label="First Name">Bruce</td>-->
<!--                <td data-label="Last Name">Banner</td>-->
<!--                <td data-label="Hero Title">The Hulk</td>-->
<!--                <td data-label="Name">Bruce</td>-->
<!--                <td data-label="Last">Wayne</td>-->
<!--                <td data-label="Hero">Batman</td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--                <td data-label="First Name">Clark</td>-->
<!--                <td data-label="Last Name">Kent</td>-->
<!--                <td data-label="Hero Title">Superman</td>-->
<!--                <td data-label="Name">Bruce</td>-->
<!--                <td data-label="Last">Wayne</td>-->
<!--                <td data-label="Hero">Batman</td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->


</body>
</html>